
/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONTE USADA */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}

/* ITÁLICO */
.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

body {
    background-color: rgb(2, 2, 53);
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%;
    background-color: rgb(2, 2, 53);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: rgb(75, 75, 75);
    display: inline-block;
    transition: 2s;
}

header a:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.05); 
}

header nav ul {
    display: inline-block;
    padding: 40px 40px;
}

header .btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: aqua;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover {
    box-shadow: 0px 0px 8px #000305;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.img-topo-site img{
    height: 700px;
    width: 600px;
}